@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    box-sizing: content-box;
}

body {
    overflow: hidden;
    background-image: url("/images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Red Hat Display', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card {
    height: 80vh;
    width: 375px;
    text-align: center;
    border-radius: 3vh;
    background-color: white;
    box-shadow: 0 4vh 10vh 0 rgb(31, 47, 86, 50%);
}

.card h1, p {
    margin: 0 5vh;
}

.card h1 {
    font-size: 20px;
    font-weight: 900;
    color: hsl(223, 47%, 23%); /* Dark blue */
}

.card p {
    margin-top: 3vh;
    font-size: 16px;
    color: #7280a7; /* Desaturated blue */
}

.imgHeader {
    width: 375px;
    margin-bottom: 3vh;
    border-radius: 3vh 3vh 0 0;
}

/* Mobile settings */
@media only screen and (max-width: 425px) {
    body {
        background-image: url("/images/pattern-background-mobile.svg");
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .card {
        width: 85vw;
    }

    .card h1 {
        font-size: 18px;
    }

    .card p {
        font-size: 13px;
    }

    .imgHeader {
        width: 85vw;
    }

    .pricing {
        display: flex;
        margin: 4vh 4vh;
        justify-content: center;
        align-items: center;
    }

    .pricing p {
        margin: 0;
    }

    .iconMusic {
        height: 42px;
        width: 42px;
        margin-right: 4vh;
    }

    .userPlan {
        display: flex;
        flex: 1;
        flex-direction: column;
        text-align: left;
    }

    .userPlan h1 {
        margin: 0;
        font-size: 13px;
    }

    .userPlan p {
        font-size: 13px;
    }
}
